<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div id="mainblock">
 <h1> This is JekaBM's Bot description page! </h1>
 <img src="https://lh6.googleusercontent.com/-VAWd1f-Y-Hc/AAAAAAAAAAI/AAAAAAAAAnI/J6BFTUX77cE/photo.jpg"></img>
 <h1> <a href = "https://web.telegram.org/#/im?p=@jkbmtestbot">Telegram Link</a> </h1>
 <h1> This is JekaBM's Bot description page! </h1>
 <h1> This is JekaBM's Bot description page! </h1>
 <h1> This is JekaBM's Bot description page! </h1>
 <h1> This is JekaBM's Bot description page! </h1>
 <h1> This is JekaBM's Bot description page! </h1>
 <h1> This is JekaBM's Bot description page! </h1>
 </div>
{% endblock %}
